<a class="dropdown-toggle" type="button" id="dropdownMenu1"
                                         data-toggle="dropdown"
                                         aria-haspopup="true"
                                         aria-expanded="true">
  <div class="bell-icon-hook"></div>
  <div class="unread-count-hook"></div>
</a>
<div class="notification-header dropdown-menu" aria-labelledby="dropdownMenu1"
                                              style="min-width:300px;">
  <div class="bg-dark wrapper" style="min-height: 62px;">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-left" style="line-height: 32px;">
          <strong>Notifications</strong>
        </div>
        <div class="clear-hook"></div>
      </div>
    </div>
  </div>
  <div class="notification-list-hook"></div>
  <div class="bg-dark wrapper-sm">
    <div class="page-hook"></div>
  </div>
</div>
