<a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
  <i class="fa fa-lg fa-bell" style="color:gray;"></i>
  <span class="label label-danger pos-abt <%- hidden %>"
    style="top:5px; right:5px; padding:3px 5px;">
    <%- unreadCount %>
  </span>
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenu1" style="min-width:300px;">
  <div class="bg-dark wrapper">
    <strong>Notifications</strong>
  </div>
  <ul class="list-unstyled">
  </ul>
</div>
