<div id="mainnav-menu-wrap">
  <div class="nano">
    <div class="nano-content">
      <ul id="mainnav-menu" class="list-group">

        <li class="nav-projects <%- getActive('project') %>">
          <a href="<%- getUrl('project', activeOrganisation) %>"
             class="b-b" style="padding:20px;">
             <i class="fa fa-sitemap"></i>
             <span class="menu-title">Projects</span>
          </a>
        </li>

        <li class="nav-grants <%- getActive('grant') %>">
          <a href="/grants/" class="b-b" style="padding:20px;">
            <i class="fa fa-briefcase"></i>
            <span class="menu-title">Grants</span>
          </a>
        </li>

        <li class="nav-donations <%- getActive('donation') %>">
          <a href="<%- getUrl('donation', activeOrganisation) %>create"
             class="b-b" style="padding:20px;">
             <i class="fa fa-gift"></i>
             <span class="menu-title">Donations</span>
             <i class="arrow"></i>
          </a>
          <ul class="collapse">
            <li>
              <a href="<%- getUrl('donation', activeOrganisation) %>create">
                Record Donation
              </a>
            </li>
            <li class="list-divider"></li>
            <li>
              <a href="<%- getUrl('donation', activeOrganisation) %>">
                View Donations
              </a>
            </li>
            <li>
              <a href="<%- getUrl('donation', activeOrganisation) %>period/">
                Gift Aid Claims
              </a>
            </li>
            <li class="list-divider"></li>
            <li>
              <a href="<%- getUrl('donation', activeOrganisation) %>amend/">
                Amend/Remove Donations
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-volunteers <%- getActive('volunteer') %>">
          <a href="<%- getUrl('volunteer', activeOrganisation) %>">
            <span class="menu-title">Volunteers</span>
          </a>
        </li>

        <li class="nav-sponsorship <%- getActive('sponsor') %>">
          <a href="<%- getUrl('sponsor', activeOrganisation) %>">
            <span class="menu-title">Sponsors</span>
          </a>
        </li>

        <li class="nav-services <%- getActive('letting') %>">
          <a href="<%- getUrl('letting', activeOrganisation) %>">
            <span class="menu-title">Services and Lettings</span>
          </a>
        </li>

        <li class="nav-stakeholder <%- getActive('contact') %>">
          <a href="<%- getUrl('contact', activeOrganisation) %>">
            <span class="menu-title">SRM</span>
          </a>
        </li>

        <li class="nav-admin <%- getActive('admin') %>">
          <a href="#">
            <span class="menu-title">Admin</span>
            <i class="arrow"></i>
          </a>
          <ul class="collapse">
            <li>
              <a href="<%- getUrl('costcentre', activeOrganisation) %>">Accounts</a>
            </li>
            <li>
              <a href="<%- getUrl('bank', activeOrganisation) %>">Bank Account</a>
            </li>
            <li>
              <a href="<%- getUrl('group', activeOrganisation) %>">Groups</a>
            </li>
          </ul>
        </li>

        <% if (isStaff) { %>
        <li class="list-divider"></li>
        <li class="nav-stakeholder <%- getActive('support') %>">
          <a href="<%- getUrl('support') %>">
            <span class="menu-title">Support</span>
          </a>
        </li>
        <% } %>

        <% if (multipleOrgs) { %>
        <li class="nav-admin <%- getActive('choose') %>">
          <a href="<%- getUrl('choose') %>">
            <span class="menu-title">School</span>
          </a>
        </li>
        <% } %>
      </ul>

      <div class="pos-abt" style="bottom:0px; width:100%;">
        <span class="block font-bold text-white"
              style="padding-left:20px; margin-bottom:10px;">
          See what's coming soon!
        </span>

        <ul id="mainnav-menu" class="list-group m-b-none">
          <li>
            <a href="/club/" class="b-b">
              <span class="menu-title">
                Clubs &amp; Events
              </span>
            </a>
          </li>
          <li>
            <a href="/service/" class="b-b">
              <span class="menu-title">
                Services &amp; Lettings
              </span>
            </a>
          </li>
          <li>
            <div style="background:gray; padding:10px;">
              <strong class="text-white" style="padding-left:20px;">
                &copy; Arro by Pebble
              </strong>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
